.container {
    padding: 1em;
}

.wrapper {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.left {
    display: flex;
    align-items: center;
    gap: 5px;
}

.center {
    display: grid;
    align-items: center;
    justify-content: center;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 2em;
}

.right .user-login {
    display: flex;
    gap: 1em;
    list-style: none;
    
}