.container {
    padding: 1em;
}

.wrapper {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.left {
    display: flex;
    align-items: center;
    flex-end: left;
    gap: 5px;
}

.searchContainer {
    border: 1px solid lightgray;
    align-items: center;
    display: flex;
}

.input {
    border: none;
}

.center {
    display: grid;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: larger;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 2em;
}

.right .user-login {
    display: flex;
    gap: 1em;
    list-style: none;
    
}